ipykernel
jupyter
matplotlib
tensorflow
torch
keras
jax
jaxlib
numpy
pandas
scipy
matplotlib
seaborn
plotly
requests
beautifulsoup4
scrapy
selenium
nltk
scikit-learn
spacy
Sastrawi
transformers
gensim
pyLDAvis
statsmodelsvs
arch
tqdm
Pillow
opencv-python
dvc
mlflow
scikit-learn
xgboost
lightgbm
optuna
hyperopt
yfinance
selenium